<p> Welcome  </p>
<table>
<%@u.each do |source| %>
   <tr> <td><%=source.firstname %></td>
   <td> <%=source.email %> </td>
<td>   <%=source.agegroup %> </td>
   <td><%=source.created_at %> </td>
   </tr>
 
  
    <%end %>

